{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Unityゲーム</title>
  <script src="{% static 'unity/Build/Build.loader.js' %}"></script>
  <style>
    #unityContainer {
      width: 960px;
      height: 600px;
      margin: auto;
    }
  </style>
</head>
<body>
  <h1>Unityゲームを遊ぼう！</h1>
  <div id="unityContainer"></div>

  <script>
    var buildUrl = "{% static 'unity/Build' %}";

    var config = {
        dataUrl: buildUrl + "/Build.data",
        frameworkUrl: buildUrl + "/Build.framework.js",
        codeUrl: buildUrl + "/Build.wasm",

        companyName: "PuriPuriGames",
        productName: "BrockDestroy",
        productVersion: "1.0"
    };

    var container = document.querySelector("#unityContainer");

    createUnityInstance(container, config).then(function (unityInstance) {
        console.log("Unityゲーム起動完了！");
    }).catch(function (message) {
        console.error(message);
        alert("ゲームの読み込みに失敗しました：" + message);
    });


  </script>
</body>
</html>
