{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PuriPuriGames</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <header>
    <h1>PuriPuriGames</h1>
    <nav>
      <a href="../">ホーム</a>
      <a href="#">ゲーム一覧</a>
      <a href="#">ニュース</a>
      <a href="#">お問い合わせ</a>
    </nav>
  </header>

  <section class="hero">
    <h2>recipeへようこそ！</h2>
    <!-- <p>最新ゲームを今すぐプレイしよう。</p>
    <button class="btn">今すぐ始める</button> -->
  </section>

  <footer>
    &copy; 2025 PuriPuriGames - All Rights Reserved
  </footer>
</body>
</html>
